*{
    margin: 0;
    padding: 0;
}
#tituloPagina {
    padding: 2em;
    background-color: #115555;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}
section {
    padding: 2em;
}
article {
    color: #000000;
    margin: 4em 0 4em 0;
    box-shadow: 6px 6px 5px gray;
}
article p {
    padding: 2em;
    width: 40em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #33333f;
}
article div {
    padding: 1em 1em;
}
.ejemplo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.ejemplo div {
    width: 45%;
}
.codigo pre {
    overflow: scroll;
    height: 300px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(190, 71, 1);
}
.despliege {
    height: 300px;
    border-width: 3px;
    border-style: solid;
    border-color: #115555;
}
.despliege img {
    width: 480px;
    height: 100px;
}
iframe {
    width: 100%;
    height: 300px;
    border: 3px;
    border-color: #115555;
}
.etiqueta h2 {
    background-color: #55555f;
    color: #eee;
    padding: 1em;
}
code {
    font-family: monospace;
    font-size: 20px;
}